
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Company</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-action="Create"  enctype="multipart/form-data">

            <div class="border p-3">

                
              <partial name="PartialView/_CreateEditPartialView"/>

                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success form-control">Create</button>
                    </div>

                    <div class="col-6 col-md-3">
                        <a asp-controller="Company" asp-action="Index" class="btn btn-outline-secondary border form-control">Back</a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

@section ValidationSectionScripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
