@model CompanyViewModel

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Details</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form asp-action="Details" enctype="multipart/form-data">
            <div class="row">
                
                <div class="col-10">
                    <div class="border p-3">

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Name" class="form-control border-0 shadow" disabled />
                            <label asp-for="Name" class="ms-2"></label>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="PhoneNumber" class="form-control border-0 shadow" disabled />
                            <label asp-for="PhoneNumber" class="ms-2"></label>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <textarea asp-for="StreetAddress" class="form-control  border-0 shadow" disabled></textarea>
                            <label asp-for="StreetAddress" class="ms-2"></label>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="City" class="form-control  border-0 shadow" disabled />
                            <label asp-for="City" class="ms-2"></label>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="State" class="form-control  border-0 shadow" disabled />
                            <label asp-for="State" class="ms-2"></label>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="PostalCode" class="form-control  border-0 shadow" disabled />
                            <label asp-for="PostalCode" class="ms-2"></label>
                        </div>

                        
                       <div class="row">
                            <div class="col-6 col-md-3 p-3">
                                <a asp-controller="Company" asp-action="Index" class="btn btn-outline-secondary border form-control">Back</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

